#base 
  width: 100%
  height: 100%

#main
  margin-top: 50px
  overflow-y: auto
  height: 100%
  background-color: #ecf0f5
  
#footer
  width: 100%
  height: 100%

#content
  position: relative
  min-height: 100%
  min-height: calc(100% - 110px)

.card
  padding: 10px !important

#footer
    width: 100%

@media screen and (min-width: 480px)   
    #content
      min-height: calc(100% - 80px)   
    #footer
      height: 30px    
    #mobile-menu
        display: none   

.card-content
  height: 100%