.footer
  background-color: rgba(34, 41, 44, .92)
  color: white
  height: 160px

.container-wide
  padding: 30px 0
  text-align: center
  font-size: 1.1rem
  line-height: 1.66
  font-weight: normal
  -webkit-font-smoothing: antialiased

a
  color: white
  &:hover
    color: #8e9091
  i
    font-size: 17px
@media screen and (min-width: 480px)
  .footer
    height: 80px
    background-color: transparent
  .container-wide
    padding: 1px
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
    // background-color: rgba(39, 51, 56, .13)
  .code-note
    visibility: hidden
    & i
      display: none
    & strong
      visibility: visible
      margin: 5px 15px
      padding: 1px 7px
      border-radius: 8px 3px 8px 3px
  div.terms
    display: flex
    align-items: center
    margin-left: 15px
    & small
      background-color: rgba(39, 51, 56, .53)
      padding: 0px 4px
      border-radius: 3px
  a:hover
    color: white