<div class="footer">
  <div class="container-wide">
    <div>
      <a class="code-note" href="http://gcti.parnamirim.rn.gov.br/" target="_blank">
        <span><strong>
            <img src="assets/img/logo-gcti.png" alt="Grupo de Ciência e Tecnologia da Informação" width="42"
              align="middle">
          </strong></span>
      </a>
    </div>
  </div>
</div>