<!-- Ícone usado para carregar a fonte dos ícones antes de usá-los nas mensagens.-->
<i class="material-icons" style="visibility: hidden; position: absolute;">lock</i>
<div class="main-content">
  <div class="container">
    <div class="row login-page">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 forms-login" id='formLogin'>
        <form [formGroup]="form" class="jumbotron animated fade in zoomInUp">
          <a href="http://www.parnamirim.rn.gov.br" target="_blank">
            <img class="logo" src="assets/img/shield.png" alt="Prefeitura de Parnamirim">
          </a>
          <h4 class="nome-sistema-login">SGI Login
            <br>Prefeitura Municipal de Parnamirim</h4>
          <div class="input-field">
            <input formControlName="username" id="username" type="text" class="validate"
              [ngClass]="applyErrorStyle('username')" maxlength="28" autofocus>
            <label class="active" for="login">Login</label>
          </div>
          <div class="input-field">
            <input formControlName="password" id="password" type="password" class="validate"
              [ngClass]="applyErrorStyle('password')" maxlength="28">
            <label class="active" for="password">Senha</label>
          </div>
          <button type="input" id="Entrar" class="btn btn-primary btn-lg btn-block waves-effect"
            (click)="authenticateUser()" [hidden]="shouldDisableLogin">
            <span [hidden]="isLoading">LOGIN</span>
            <div class="preloader-wrapper small active" id="login-loading-container" [hidden]="!isLoading">
              <div class="spinner-layer">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </button>
          <div [hidden]="!shouldDisableLogin" class="alert z-depth-4 white-text" id="alert-login"
            [ngClass]="currentRequestStatusConstant?.color">
            <span [innerHTML]="currentRequestStatusConstant?.icon" id="alert-login-icon-container">
            </span>
            {{currentRequestStatusConstant?.messages.loginAlert}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>