*[hidden] {
  display: none;
}
form.jumbotron {
  padding: 30px 60px 40px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 30px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 30px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 30px -5px rgba(0, 0, 0, 0.75);
}

img.logo {
  width: 100px;
  display: block;
  margin: 0px auto;
}

img {
  vertical-align: middle;
}

img {
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  vertical-align: middle;
}

.nome-sistema-login {
  font-size: 20px;
}

.login-page {
  background-color: #ffffff;
  height: 100vh;
  min-height: 100%;
  display: flex;
  align-items: center;
}

.forms-login {
  max-width: 536px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron h4 {
  text-align: center;
  font-weight: bold;
  color: rgb(24, 59, 120);
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.input-field > label {
  position: absolute;
}

.btn-primary {
  background-color: #183b78;
}

.btn-primary:hover {
  background-color: rgb(43, 85, 156);
}

.btn-primary:focus {
  background-color: rgb(23, 49, 93);
}

.btn-lg {
  height: 2.5rem;
}

.btn-block {
  width: 100%;
}
.alert-info {
  background-color: rgb(91, 192, 222);
  color: rgb(255, 255, 255);
  border-color: rgb(61, 181, 216);
}
.alert {
  font-size: 14px;
  font-weight: 400;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  border-radius: 0px;
  padding: 10px;
  margin: 8px 0px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-top: 0px;
  margin-bottom: 0;
}
.alert > p {
  text-align: justify;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #43ac6a;
  border-color: #3c9a5f;
  color: #ffffff;
}
.alert-success hr {
  border-top-color: #358753;
}
.alert-success .alert-link {
  color: #e6e6e6;
}
.alert-info {
  background-color: #5bc0de;
  border-color: #3db5d8;
  color: #ffffff;
}
.alert-info hr {
  border-top-color: #2aabd2;
}

.disabled {
  background: grey;
  pointer-events: none;
  cursor: not-allowed;
}

.rodape-p > img {
  padding-right: 2px;
}


#login-loading-container {
  width: 23px;
  height: 23px;
  color: white;
}
#login-loading-container > .spinner-layer {
  border-color: white;
}

#alert-login {
  text-align: center;
  font-size: 13.1px;
}
/* :host ::ng-deep é para que este esta seja usada no atributo [innerHTML] */
:host ::ng-deep .material-icons {
  vertical-align: middle;
}
@media (max-width: 600px) {
  form.jumbotron {
    padding: 12px;
  }
  .login-page {
    overflow: auto;
  }
}
