.headerbar
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 50px
  background: #183B78
  color: rgba(49, 53, 52, 0.6)
  z-index: 5

.headerbar
  div
    padding: 0

.out-btn 
  height: 100%
  text-align: right
  padding: 0px

.user-span 
  display: table-cell
  vertical-align: middle
  color: #ffffff
  font-weight: bold
  right: 0px
  text-align: right
  padding: 5px 0 0 12px
  max-width: 318px
  overflow: hidden
  word-wrap: break-word
  .permission-name
    text-transform: capitalize

.user-icon 
  font-size: 2em
  
.btn-toggle 
  background: transparent
  border: 0px
  height: 100%
  width: 35px
  color: #ffffff
  transition: .2s ease-out
  margin: 0px 10px

.btn-toggle:hover 
  color: #48a99e

.modal
  max-width: 510px
  max-height: 180px
  span.title
    font-size: 1.3em

[title="Sair"]:hover
  color: #48a99e


@media screen and (max-width: 512px)
  .user-span 
    max-width: 58vw
    overflow: hidden
    word-wrap: break-word

@media screen and (max-width: 315px)
  .user-span 
    max-width: 42vw
