<div class="headerbar">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-10">
    <div style='height: 50px; display: flex; justify-content: flex-end'>
      <span class="user-span truncate">
        {{user.nome}}
        <br>
        <small class="permission-name">{{user.grupoNome.split("_")[0].toLowerCase()}}</small>
      </span>
      <div style='height: 100%;'>
        <button class="btn-toggle modal-trigger" href="#modal1">
          <i class="material-icons">power_settings_new</i>
        </button>
      </div>
    </div>  
  </div>
</div>

<!-- Modal -->
<div materialize="modal" [materializeParams]="[{opacity: 0.4}]" id="modal1" class="modal modal-fixed-footer ">
  <div class="modal-content">
    <span class="title">Sair do SGI Login?</span>
  </div>
  <div class="modal-footer">
    <button href="#!" routerLink="/login" style="background: #053f75" title="Sair" class="modal-close waves-effect btn">SAIR</button>
    <button href="#!" class="modal-close waves-effect waves-blue btn-flat">NÃO</button>

  </div>
</div>

