/* You can add global styles to this file, and also import other style files */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Roboto", sans-serif, Helvetica, Arial, sans-serif;
  overflow: hidden;
}

section {
  position: relative;
  padding: 0;
}

section:first-child {
  padding-top: 0;
}

ul,
.collection {
  margin: 0
}

.disable-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #48a99e;
  margin-right: 24px;
  transition: color .3s ease;
  text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #78e0d4;
  text-decoration: none;
}

.card-action {
  padding: 16px !important;
  text-align: right;
}

.section-header {
  height: 40px;
  padding: 6px 15px;
  background-color: #fff;
  margin-bottom: 24px;
  box-shadow: 0px -2px 5px 0px;
}

.section-header .breadcrumb {
  padding: 0;
  margin: 0;
  font-size: 12px;
  text-shadow: none;
  list-style: none;
  background-color: transparent;
  border: 0;
  color: #313534;
}

.breadcrumb>.active {
  /* color: inherit; */
  opacity: 0.7;
  font-weight: 400;
  font-size: 20px;
}

.section-body:first-child {
  margin-top: 24px;
}

.row {
  padding-left: -15px;
  padding-right: -15px;
}

.row:last-child {
  margin-bottom: 0
}

.pac-container,
.pac-logo {
  z-index: 2000 !important;
}

.card {
  position: relative;
  margin-top: 0px;
  margin-bottom: 24px;
  background-color: rgb(255, 255, 255);
  color: #313534;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.card.background-opacity {
  background-color: rgba(24, 59, 120, 0.20);
  border-radius: 17px;
}

.card-head {
  position: relative;
  line-height: 52px;
  min-height: 56px;
  vertical-align: middle;
  border-radius: 2px 2px 0 0;
}

.card-head header {
  display: inline-block;
  padding: 11px 24px;
  vertical-align: middle;
  line-height: 17px;
  font-size: 20px;
}

.card.background-opacity>.card-content {
  padding-left: 0;
  padding-right: 0;
}

.card-body {
  padding: 24px;
  position: relative;
  border: 0 0 2px 2px;
}

.content {
  position: relative;
  margin-bottom: 24px;
  background-color: rgba(255, 255, 255, 0.33);
  color: #313534;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.content-head {
  position: relative;
  background-color: #fff;
  line-height: 52px;
  min-height: 56px;
  vertical-align: middle;
  border-radius: 2px 2px 0 0;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.content-head header {
  display: inline-block;
  padding: 11px 24px;
  vertical-align: middle;
  line-height: 17px;
  font-size: 20px;
}

.content-body {
  padding-top: 24px;
  position: relative;
}

.form-group>.col-sm-10 {
  padding: 0;
}

.input-field label {
  position: relative
}

.as-input>input {
  height: initial;
}

.chip-value {
  position: relative;
  display: inherit;
  margin-left: -12px;
  min-height: 32px;
  min-width: 32px;
  padding: 0px 5px;
  text-align: center;
  background-color: #26a69a;
  border-radius: 15px 5px 5px 15px;
}

.chip-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: inherit;
  width: 40px;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
}

.btn-clean {
  position: absolute;
  top: -16px;
  right: -16px;
  height: 32px;
  width: 32px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 999px;
  z-index: 4;
}

.quantity-selected {
  color: #999;
  margin-left: 10px;
  padding-right: 10px;
  /* border-right: 1px solid #000; */
}

.quantity-selected span {
  display: block;
  font-size: 2.92rem;
  font-weight: 300;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0;
}

.product-selected {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-name {
  color: #26a69a;
}

.product-description {
  padding: 5px 0px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

.product-description i {
  color: #ccc;
}

.chip-input:focus {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 1px solid #26a69a;
}

.opacity-75 {
  opacity: .75;
}

.rigth {
  float: right
}

.left {
  float: left
}

ng-select {
  -webkit-transition: .2s boder ease-out, .2s color ease-out;
  transition: all 0.3s;
}

.invalid>ng-select .as-control {
  border: 1px solid #F44336;
  border-radius: 4px;
}

.form-group>ng-select::after {
  content: "";
  opacity: 0
}

.invalid>ng-select:not(form)::after {
  display: block;
  content: attr(data-error);
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 1;
  -webkit-transition: .2s opacity ease-out, .2s color ease-out;
  transition: .2s opacity ease-out, .2s color ease-out;
  width: 100%;
  color: #F44336;
  font-size: small;
}

list-items-selecteds {
  -webkit-transition: .2s boder ease-out, .2s color ease-out;
  transition: all 0.3s;
}

.invalid>list-items-selecteds .form-list .row {
  border: 1px solid #F44336;
  border-radius: 4px;
}

.form-group.invalid>input {
  border-bottom: 1px solid #F44336;
}

.form-group {
  position: relative
}

.form-group>label::after {
  content: " ";
  opacity: 0;
}

.form-group.invalid>label::after {
  display: block;
  content: attr(data-error);
  position: absolute;
  top: calc(100% - 20px);
  left: 0;
  opacity: 1;
  -webkit-transition: .2s opacity ease-out, .2s color ease-out;
  transition: .2s opacity ease-out, .2s color ease-out;
  width: 100%;
  color: #F44336;
  font-size: small;
}

.form-group>list-items-selecteds .form-list .row::after {
  content: "";
  opacity: 0
}

.invalid>list-items-selecteds .form-list .row:not(form)::after {
  display: block;
  content: attr(data-error);
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 1;
  -webkit-transition: .2s opacity ease-out, .2s color ease-out;
  transition: .2s opacity ease-out, .2s color ease-out;
  width: 100%;
  color: #F44336;
  font-size: small;
}

.text-uppercase {
  text-transform: uppercase;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .33);
  margin: 10px 0px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .6);
}

.center-align {
  margin-bottom: 20px;
  text-align: center;
}

button.btn-del {
  background-color: #e65151;
}

button.btn-del:hover {
  background-color: #f96a6a;
}

.background-default {
  background-color: #f2f2f2;
}

label {
  color: #273338;
}

input {
  border-bottom: 1px solid #273338 !important;
}

input:focus {
  border-bottom: 1px solid #26a69a !important;
}

.as-control {
  border: none !important;
  border-radius: 0px !important;
  border-bottom: 1px solid #273338 !important;
  padding-left: 0px !important;
  height: 3rem !important;
  width: 100% !important;
  margin: 0 0 20px 0 !important;
  /* font-size: 1rem !important;
    margin: 0 0 20px 0 !important; */
}

.as-input,
.as-placeholder,
.as-value {
  width: 100%;
  display: flex !important;
  height: 49px !important;
  align-items: center;
  padding-left: 0px !important;
}

.as-input>input {
  height: 3rem !important;
}

.as-menu-outer {
  border: none !important;
  border-radius: 0px !important;
}

.as-menu {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
}

div.toast {
  font-weight: bold
}

.form-group.invalid>label {
  color: #F44336 !important;
  font-weight: bold;
}

.form-group.invalid>input,
.form-group.invalid>select,
.form-group.invalid>textarea {
  border-bottom: 1px solid #F44336 !important;
  box-shadow: 0 1px 0 0 #F44336 !important;
}

.form-group.invalid>label::after {
  top: calc(100% - 17px) !important;
}

ng-select .as-option {
  font-size: 16px !important;
  color: #26a69a !important;
  display: block !important;
  line-height: 22px !important;
  padding: 14px 16px !important;
  cursor: pointer !important;
}
ng-select .as-option.marked{
  background-color: #efeff0 !important;
}
ng-select .as-option.selected{
  background-color: #f7f7f7 !important;
}

blockquote{
  border-color: #26a69a;
}